<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--
        扫描service包下所有使用注解的类型
        然后采用注解的方式将Service的实现类加入到Spring IOC容器中:
    -->
    <context:component-scan base-package="com.imooc.o2o.service"/>

    <!--
        声明式事务的使用方式:
        1.早期使用的方式:ProxyFactoryBean+XMl
        2.tx:advice+aop命名空间，好处:一次配置永久生效。
        3.注解@Transactional的方式。
        在实际开发中，建议使用第三种对我们的事务进行控制
    -->

    <!-- 配置事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 注入数据库连接池-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 配置基于注解的声明式事务
        默认使用注解来管理事务行为
    -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>